<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
</head>
<body>
    <h1>Good evening!</h1>
    <h2>Today's balance change: ${{ balance_change }}</h2>
    <h3>Last stock purchase: {{ buy }}</h3>
    <h3>Last stock sold: {{ sell }}</h3>
    <iframe style="background: #F1F5F4;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);width: 100vw;height: 100vh;"  src="https://charts.mongodb.com/charts-project-0-xwugo/embed/dashboards?id=304a5c74-3c6e-4efa-8824-95ff8c8304ee&theme=light&autoRefresh=true&maxDataAge=3600&showTitleAndDesc=false&scalingWidth=scale&scalingHeight=scale"></iframe>
</body>
</html>